[2015-08-06 20:14] fourjay opened #1 "Feature request quick jump by file grouping"
I've added the following snippet to me (copied from Ag/Ack QF window list addition)
as a nicety when:

Several files matched and multiple lines matched.

The mapping allows me to jump around between file groupings.

} and { seem logical mappings to me, as file group seems similar to
"block"

function s:first_char_of_line()
    return getline('.')[0]
endfunction
function s:next_not_first_match()

[2015-08-07 07:22] romainl commented on #1
That's indeed an interesting feature. I'll work on it this week-end (as well as a couple of bugfixes). Thank you.

[2015-09-11 10:48] nelstrom opened #2 "Deprecate or alias :Dofile and :Doline"
Good news! [Patch 7.4.858](https://github.com/vim/vim/commit/aa23b379421aa214e6543b06c974594a25799b09) adds native `:cdo`, `:cfdo`, `:ldo`, and `:lfdo` commands. You can either remove the `:Dofile` and `:Doline` from this plugin, or simply redefine them as aliases to the built-in commands. (Admittedly, `:cfdo` doesn't exactly roll of the tongue!)

[2015-09-11 15:28] romainl commented on #2
Hi! I won't remove those commands because I don't follow Vim's patch cycle very closely and I will certainly not require my users to run a specific patch.

But the aliasing idea is great. I'll add that this week end.

Thanks for the suggestion.

[2015-09-11 15:36] nelstrom commented on #2
Yeah, it would be good to do it so that `:Dofile` and `:Doline` are available as an alias for people using 7.4.858+ and use your own implementation as a 'polyfil' for people using older versions of Vim.

[2015-09-11 15:38] nelstrom commented on #2
I don't enjoy telling people 'this feature is available if you're using Vim 7.4.858 or greater'. But on the other hand, with the patch numbers getting so high, it's likely we'll see version 7.5 before too long, and I don't mind saying 'this feature is availabe in Vim 7.5'.

[2015-09-13 11:39] romainl commented on #2
Hi, Drew.

Commit FA5DE63 seems to work here. Or does it?

[2016-03-14 11:21] romainl opened #3 "Fix behavior of QFToggle"

[2016-03-24 14:59] robertmeta opened #4 "Respect foldopen setting"
Example: \<Plug\>QfCprevious does not respect the foldopen setting, so while :cprevious will hop to previous item and open the fold, <Plug>QfCprevious will hop and leave the fold closed, regardless of the foldopen setting.

[2016-03-24 23:09] romainl commented on #4
@robertmeta, could you give the latest commit a try?

[2016-03-25 02:39] robertmeta commented on #4
Sweet, works properly now!

[2016-03-25 02:39] #4 closed

[2016-03-26 08:08] ntnn commented on #1
I did that a while ago:

    fu! QfGetFilepath(line) abort
        return substitute(a:line, "|.*$", "", "")
        "                          |      |   +- no flags
        "                          |      +- replace match with nothing
        "                          +- match from the first pipe to the end of line
        "                             declaring EOL explicitly is faster than

[2016-03-26 09:19] romainl commented on #1
@ntnn that's funny, I pushed the following last night:

[code]

which could certainly benefit from a bit of refactoring (but it was late).

Also, I think it would probably be best if those motions jumped to the top of the file grouping.

[2016-03-26 18:49] ntnn commented on #1
That's a lot neater - you could use the `getFilePath` from my solution
to eliminate `normal! 0 | let cf...`.
For jumping to the top of a file group it'd be sufficient to go up two
times then down one:

    fu! qf#GetFilePath(line) abort
        return substitute(a:line, "|.*$", "", "")
        "                          |      |   +- no flags
        "                          |      +- replace ma

[2016-03-26 19:55] ntnn commented on #1
I fiddled a bit around with this and ended up with this:

    fu! qf#GetFilePath(line) abort
        return substitute(a:line, "|.*$", "", "")
        "                          |      |   +- no flags
        "                          |      +- replace match with nothing
        "                          +- match from the first pipe to the end of line
        "                             declar

[2016-03-26 20:50] romainl commented on #1
We are almost there.

I fixed a few small mistakes and the whole thing seems to work relatively well.

    function qf#GetFilePath(line) abort
        return substitute(a:line, "|.*$", "", "")
        "                          |      |   +- no flags
        "                          |      +- replace match with nothing
        "                          +- match from the first pipe to the end of

[2016-03-26 21:25] romainl commented on #1
@ntnn, I pulled in your last snippet and it seems to work reliably. I'll wait a bit before tagging a new release, though. Just in case.

[2016-04-05 00:55] rgrinberg opened #5 "Inverse of Filter"
Hi, I'd like something like Filter except that it would delete rather than keep matching qf entries. Vim itself both `g` and `v` so I think it's a fair request.

[2016-04-05 06:05] romainl commented on #1
Fixed as of commit 9df30b26d349dff80136ed401e164fe5ff92b6cb.

[2016-04-05 06:05] #1 closed

[2016-04-05 06:06] romainl commented on #2
Fixed as of fa5de631b9af3fc1b11f736f2147ca0c1aa44c4c.

[2016-04-05 06:06] #2 closed

[2016-04-05 07:08] romainl commented on #5
Hi, please pull 22bc9b81b2c40c0fb2ac399759c037d8cd4ecd3b.

I've added two commands: `:Keep` and `:Reject` which are less ambiguous than `:Filter`.

`:Filter` is still there, though, and works just like `:Keep`. I've modified it to take an optional `!` to make it work like `:Reject`.

There is no `:help` ATM.

[2016-04-05 13:22] rgrinberg commented on #5
Thanks!

On Tue, Apr 5, 2016, 3:08 AM Romain Lafourcade <notifications@github.com>
wrote:

[2016-04-05 19:17] romainl commented on #5
See release 0.0.7.

[2016-04-05 19:17] #5 closed

[2016-04-05 19:18] rgrinberg commented on #5
Thanks. Will update.

[2016-04-06 14:46] ntnn commented on #3
Started working on this [here](https://github.com/ntnn/vim-qf/commit/3c410109dd37045915fc9b05eea67c59a01bd29f), based on what I already had.

It works really well, but I'm unhappy with the time `ToggleQuickfix` needs:

[code]

But the problem isn't the code - its `:cclose` and `:copen`:

[code]

If you could profile it yourself and see if its an actual problem or my
setup, that'd be nice.

[2016-06-14 14:26] nicoe opened #9 "<Plug>QfCprevious and similar commands doesn't work"
I don't know why but those map does not work:
[code]
While those do:
[code]
I though they were equivalent.

[2016-06-14 14:28] nicoe commented on #9
I also noticed while debugging this that the test in WrapCommand `if exists('b:isLoc')` returns always false.

Maybe this is due to the fact I am using neovim instead of vim.

[2016-06-14 14:38] ntnn commented on #9
`nnoremap` trasnlates to `normal mode no recursive mapping` - means
binds specified like that do not evaluate if what it is bound to is
bound to something else.

E.g.:
[code]

The first line binds `$` (jump to eol) to `^` (jump to first non-empty char).
The second line changes `x` (delete char under cursor) to `$x` (jump to
eol and delete char under cursor). Here `$` keeps its meaning because
that

[2016-06-14 15:18] romainl commented on #9
My bad, I used `nnoremap` all over the doc instead of `nmap`. Fixed as of commit 3389588.

[2016-06-14 15:18] #9 closed

[2016-06-20 13:58] nicoe commented on #9
Thanks fo the info @ntnn I am always confused about the numerous `*map` commands.

About the `b:isLoc` issue, in fact I am using syntastic which automatically populates the location list once a file is save and there's some errors/warnings.

But when the `WrapCommand` is called the current window is obviously not a location window but the one where I edit the text (maybe I should open another issu

[2016-07-08 21:09] MaikoID opened #12 "Open and Close Quickfix changes others windows size"
Hey, I'm currently with this problem using this plugin,  could you guys reproduce? Maybe is my environment.

Thx

[2016-07-09 08:18] romainl commented on #12
Hi, could you be a bit more specific?

[2016-07-17 19:09] blueyed commented on #12
It is related to https://github.com/vim/vim/issues/931 I think.

@MaikoID
You can disable it using:
[code]

@romainl
I could imagine doing this only if necessary, i.e. there is a window below or next to it?!
These could be detected using the following (just for "below"):

[code]

[2016-07-17 19:09] blueyed commented on #12
And as for `qf_loclist_window_bottom` I would say a default of `0` seems more sensible in general - at least I like to have the location list windows with their window.

[2016-07-19 18:17] MaikoID commented on #12
Hey @blueyed applying your suggestions seems to work, thanks.

Sorry I'm was very busy at the moment and couldn't  elaborate the question, many thanks for your patience =)

bye

[2016-07-19 18:17] #12 closed

[2016-07-19 22:11] blueyed commented on #12
@romainl
Do you think we should change the defaults and/or improve the behavior to work around Vim resizing windows unnecessarily?!

[2016-07-20 05:42] romainl commented on #12
@blueyed I think changing the defaults would be a better idea. I defined them as I want them but you are right that `0` would be a better default value.

[2016-08-28 09:40] vbauerster opened #13 "need ToggleList feature"
It is very useful plugin, but lacks ToggleList feature.
Could you please implement Quick/Location list toggle mappings, like:
`<Plug>QfCtoggle`
`<Plug>QfLtoggle`

At first I tried to apply [this]( http://vim.wikia.com/wiki/Toggle_to_open_or_close_the_quickfix_window) solution, but it relies on output of :ls to have quickfix buffers.

If it is too much work, so I'd like to have at least two functio

[2016-08-29 23:48] ntnn commented on #13
I've already worked on that: https://github.com/ntnn/vim-qf/tree/toggle-window
It works well, but the major problem is the time copen/cclose need (takes ~1 or 2s).

iirc there was a recent patch adding more qf/loclist information functions, might be able to provide a toggle-map using those.

[2016-08-31 15:51] romainl commented on #13
I just pushed a preliminary version in the "toggle-windows" branch. The whole thing is pretty instantaneous, here, but `qf#ToggleLocWindow()` needs a bit more love.

We are almost there.

Also, I prefer @vbauerster's names to the ones I used.

[2016-08-31 17:36] vbauerster commented on #13
Glad to hear that) Thank you!
Btw, I think even 1-2s to copen/cclose is acceptable.
PS: I'm neovim user.

[2016-09-03 12:47] romainl commented on #13
Please take a look at the "toggle-windows" branch. I'm quite satisfied of how `<Plug>QfLtoggle` works, now. Tell me if you have any issue.

[2016-09-03 14:39] ntnn commented on #13
I changed `qf#IsQfWindow` like we discussed in IRC to return `true` only
for an actual qf window and reordered `qf#ToggleLocWindow` to look a bit
nicer (essentially all that was needed was to move the `else` statement
up and eliminate the if around it with an early return. The rest is
similar to `qf#ToogleQfWindow`.

With a bit of modifications it might be possible to cram both functions
into one,

[2016-09-03 14:43] ntnn commented on #13
Sorry for the double post, put github's specul js doesn't let me do anything again.
Here's the link to the working branch: https://github.com/ntnn/vim-qf/tree/toggle-windows

[2016-09-03 17:10] ntnn commented on #13
Ye, nvm what I wrote above - i forgot that window numbers are tablocal
and reordered instead of filled up.

However I mentioned another problem - when multiple windows have
a loclist and you're trying to open the loc window of a window where the
index is lower `qf#ToggleLocWindow` will attempt to execute `:lclose`.

I'd say for location windows it's reasonable to assume that the location
list alwa

[2016-09-04 08:09] romainl opened #15 "Ordering the results so that the current file comes first."
http://vi.stackexchange.com/questions/9436/calling-vimgrep-so-that-results-from-the-current-file-are-on-top

[2016-09-04 09:31] ntnn opened #16 "Save named, location and quickfix lists, viminfo alike"
A neat feature would be to save the named lists as well as the
location/quickfix lists like a viminfo file.

For qf/named it's relatively easy, qf is global and named already have
their identifiers.

[code]

Saving the file like this would make it relatively easy to reparse it,
using `json_encode` and `json_decode` to transform the lists.

For location lists, it might be sufficient to save those w

[2016-09-04 12:23] romainl commented on #16
If people had `!` in their `viminfo` option, we could simply have `QF_QF_LIST`, `QF_LOC_LIST_FILENAME`, `QF_NAMED_LIST_LISTNAME`, etc. saved directly and automatically in `~/.viminfo`. I don't think it would be wise to force that option on the user, though.

Saving and restoring lists to/from a file will add a lot of complexity to the plugin. I'm not sure that's something I want but the idea is ce

[2016-09-04 13:47] ntnn commented on #16
Well, that could be mentioned in the docs - if a user would like to use
the functionality they'll have to add it.

Complexity is a fair point, especially the detection of the base
directory would duplicate lots of code already present in other plugins,
as well as loading/saving per-project.

While the addition would be appreciable I'm not sure if the work would
measure up to the usefull-ness.

I t

[2016-09-04 19:32] ntnn commented on #15
That should be fairly easy:

[code]

Maybe with an option to disable sorting the current file first.

[2016-09-04 22:06] ntnn commented on #15
The result looks a bit different, but it works quite well in both non-qf
as well as qf-context. For now I've named the commands `:Qf{C,L}sort`,
like the other global commands and added a buflocal command which
executes either based on if it's a qf or loclist window.

[2016-09-11 14:21] tstelzer opened #17 "Respect splitdirection"
## Setup

[code]

## Commands

[code]

## Expected Behaviour

quickfix location splits to the left

## Actual Behaviour

quickfix location splits to the right

[2016-09-11 15:19] romainl commented on #17
Please see commit 23aba2d

[2016-09-11 15:56] #17 closed

[2016-09-11 20:00] romainl commented on #13
Toggling is now part of vim-qf as of version 0.0.9.

[2016-09-11 20:00] #13 closed

[2016-09-11 20:00] romainl commented on #3
Toggling is now part of vim-qf as of version 0.0.9.

[2016-09-11 20:00] #3 closed

[2016-09-14 16:09] romainl opened #18 "Add support for `:cexpr` and `:lexpr`."
`:cexpr` and `:lexpr` don't trigger the `QuickFixCmdPost` event therefore the qf window can't be opened automatically.

[2016-09-17 13:36] romainl commented on #18
The behavior of `QuickFixCmdPre/Post`was fixed in 7.4.2299. No need to do anything until someone complains.

[2016-09-17 13:36] #18 closed

[2016-10-23 15:30] romainl opened #19 "Center the line after s:JumpToFirstItemOfFileChunk()"
Adding `normal zz` at the end of `s:JumpToFirstItemOfFileChunk()` makes it a lot more useful for me.

I wonder if `zz` would be a good default or if `zt` would be better.

[2016-10-23 15:57] romainl opened #20 "location list toggling is half-broken"
On branch refactoring-time, toggling the location list only works from the location window and not from the parent window.

[2016-11-01 16:37] romainl commented on #19
Behavior fixed as of commit #a9d2304.

[2016-11-01 16:37] #19 closed

[2016-11-01 22:53] ntnn opened #22 "Introduce logging"
Introduce logging

Soft-touched logging would be nice, e.g. ``qf#log``, ``qf#debug`` and
``qf#error``, which prefix the message with a ``vim-qf:level:`` and the
debug level only showing when e.g. ``g:qf_debug`` is true or the like.

This'd help greatly with debugging in the future as well as help
understand the code (e.g. on early returns etc.pp. a debug message would
act like a comment explaining

[2016-11-01 23:52] ntnn commented on #20
That is quite weird. It seems the problem stems from ``qf#IsLocWindow``, however when I execute that by hand it seems to work correctly.

[2016-11-01 23:58] ntnn commented on #20
Found the bug. There is no window 0, but we're iterating in L81 from 0 to ``winnr('$')`` which results in ``[0, 1]``, which doesn't reach the window 2, assuming that only one window and locwin are opened.

[2016-11-02 00:01] ntnn commented on #20
It also only affected the locwin because ``qf#IsQfWindow`` is called with ``+1``. I'll apply that for ``ToggleLocWindow`` as well.

[2016-11-02 00:07] ntnn commented on #20
Fixed with d5b2db6.

[2016-11-14 16:48] arecarn opened #23 "qf_statusline appears twice in the table of contents"

[2016-11-14 16:55] arecarn commented on #22
For some of of my scripts I've used [Decho](https://github.com/vim-scripts/Decho). It is definitely not perfect but it is pretty easy to start using.

[2016-11-14 16:58] ntnn commented on #22
@romainl what do you think? Do you want external dependencies?
Another possibility would be to write our own logging library with
structured logging - though that might be a bit oversized for a bit of
scripting.

Sent with AquaMail for Android
http://www.aqua-mail.com

On 14 November 2016 5:55:47 pm Ryan Carney <notifications@github.com> wrote:

[2016-11-14 17:13] romainl commented on #23
Thank you.

[2016-11-14 17:13] #23 closed

[2016-11-14 17:14] romainl commented on #22
Silly me… that was #23.

[2016-11-14 17:17] romainl commented on #22
@ntnn I don't want external dependencies if I can avoid them. I'd like to play with `:throw` and friends before turning to a logging lib.

[2016-11-14 18:19] arecarn commented on #22
A real vimscript logging library would be very nice, I could never seem find one.

Once potentially nice thing about Decho is that it is only a dependency for anyone who wants to use logging. In my case I just enabled it for debugging and disabled it before committing changes or fixes.

[2016-11-14 19:40] ntnn commented on #22
No, having a difference in the code between dev and production is not a choice.
I'd rather use a stub file which defines the functions as noops if the logging plugin is not loaded.

@romainl Mhm... I don't like exceptions, I'd rather sanitize input more.
A properly written logging library would be nice, on the other hand simple logging would be just a case of using a ``s:log`` function and ``qf#er

[2016-11-26 09:03] romainl opened #24 "Create a generic command that populates the qf/loc list with the output of a list-like command"
Basically, something like [vim-qlist](https://github.com/romainl/vim-qlist) that would also work for `:oldfiles`, `:changes`, etc in a generic manner.

## Scenario

* `:Toqf changes` would set a specific `errorformat` and run `:cexpr` with the output of `:changes`.
* `:Toloc tselect` would set a specific `errorformat` and run `:cexpr` with the output of `:tselect`.

## Outputs from several command

[2016-12-15 11:17] blueyed opened #28 "Provide methods to jump to the previous/next errors from the cursor"
ALE has some nice functions to jump to the previous/next (nearest) entries in the location list, based on the cursor position: https://github.com/w0rp/ale/blob/master/autoload/ale/loclist_jumping.vim

Do you think something like this makes sense to have in vim-qf, so that it can be used in general, and not only when using ALE?

/cc @w0rp

[2016-12-15 15:03] w0rp commented on #28
If the loclist jumping I wrote is changed to use a sequential search instead of a binary search, then it could work in combination with any plugin. It has to be changed to sequential search if it's not specific to ALE, because we can't assume that the list is sorted any more.

[2016-12-17 11:08] romainl commented on #28
Yes, this totally makes sense and doesn't sound too hard to implement.

[2016-12-17 17:43] romainl commented on #28
What would be the behavior of the command when the closer location/error is the current line?

* Jump to the next closer one?
* NOP?

[2016-12-17 18:06] blueyed commented on #28
In general it should also take columns into account.
But in general (for the same line or line+col), it should go to the next one.

[2017-01-06 23:20] blueyed opened #31 "Reformat location/quickfix list"
@tweekmonster provided a nice gem at https://github.com/neomake/neomake/pull/325#issuecomment-268421805, which reformats a location list to condense/remove the filename etc.

What do you think about including something like this in vim-qf?!

For reference (just renamed the function, and removed the leading space with the `printf`):

[code]

@tweekmonster
Any update on the snippet you provided ther

[2017-01-06 23:53] romainl commented on #31
Sorry but the filename is an important information that should *always* be there.

I could accept a solution that truncates filenames so we get a nice column layout, though.

[2017-01-07 00:12] blueyed commented on #31
Even for a location list that is for a single buffer only?
This might become an option then - I'd rather see it in the window title (`w:quickfix_title`) instead.
For shortening however, `pathshorten(fnamemodify(bufname(entry.bufnr), ':~:.'))` could be used.

[2017-01-07 11:17] romainl commented on #31
The location list is tied to a single window, not buffer, and there's nothing in its design that implies it's supposed to display locations from a single buffer/file (think `:lgrep` for example).

No, I won't add this feature to vim-qf.

[2017-01-07 11:17] #31 closed

[2017-01-07 11:18] #20 closed

[2017-01-08 06:27] tweekmonster commented on #31
Used the `FileType` autocmd since the quickfix-specific autocmds only work with certain commands.  But, it stops working if the list is updated while the quickfix buffer is already open.  I haven't gotten too far in development since I posted the snippet.

I think it'll be better as a PR for Neomake since its autocmd's are a clearer signal for updating the buffer.  Also, @romainl makes a good poin

[2017-01-13 22:07] LemonBoy opened #33 "Provide an option to re-center the qflist after a Qf{Previous,Next}"

[2017-01-27 18:17] comand opened #34 "Provide an option to control qf auto-sizing"
I use skywind3000/asyncrun.vim to invoke make for my project and list the output in the quickfix window. Because vim-qf auto-sizes the quickfix window when it is toggled open, and when it does open there are typically only one or two lines of build output available, I always end up with a quickfix window that's 3 or 4 characters high, and I have to either toggle it open/closed manually to get it t

[2017-01-27 22:04] comand commented on #34
Another use case -- sometimes I have my qf open to a height greater than the default 10 lines so I can see more of my build output. When I re-run the build, it tries to re-toggle open the quickfix, which forces the size down to 10 lines. If the qf window is open, qf toggling it open shouldn't cause a resize.

[2017-02-06 08:42] romainl commented on #34
This sounds like a very reasonable request. I will work on it today.

[2017-02-06 10:11] romainl commented on #34
Please tell me what you think about this:

'g:qf_max_height'
Value: numeric
Default: none

The maximum height of location/quickfix windows.

With a value of `0`:

    let g:qf_max_height = 0

    - If there is no existing location/quickfix window, the height of the
      new window is adjusted to the lesser of those numbers: the number of
      items in the list or `10`, Vim's default.
    - If we

[2017-02-06 16:24] bounceme opened #36 "syntax filtering"
https://gist.github.com/bounceme/72aa91b4f2a473818d93384b7fff3bd4 is a workable start for syntax filtering. I can see a regex prompt for what to filter being really useful.

understandably, this can be very slow with lots of matches

[2017-02-06 17:13] comand commented on #34
That sounds great -- I'd be happy to test this out whenever you have something to test drive.

Thanks!
- C.

[2017-02-06 21:24] romainl commented on #34
@comand could you take commit #639796d for a ride?

[2017-02-06 21:53] comand commented on #34
Hmm... it's not exactly what I was imagining. Here's how it's working for me now, with:

let g:qf_max_height = 10

When a new asyncrun job starts up, qf is cleared and the async job starts writing output to the quickfix window. At job start, vim-qf resizes the window to 3 lines, which is the number of lines output by the job as it starts up. As more input is written to the qf window by the job, th

[2017-02-06 22:59] romainl commented on #34
I just installed asyncrun and tried it with various `:AsyncRun ag ...` from `~/.vim/`.

Without setting `g:qf_max_height`, I get a 10 lines tall window on first run and no resizing whatsoever during following runs (I will probably add an autocommand for that). Vim-qf's `:Keep`, `:Reject`, and `:Restore` still resize the window as expected and the height of the window is respected after a manual re

[2017-02-07 19:30] comand commented on #34
Here's a capture that demonstrates the behavior I'm seeing:

![vimqf](https://cloud.githubusercontent.com/assets/429986/22707584/15138a54-ed28-11e6-8795-228a68a9689f.gif)

The test script I'm running is this:

[code]

I suspect that the behavior you're showing above might have to do with the speed at which the quickfix window fills up. Asyncrun checks for output on a timer, which I believe default

[2017-02-07 21:33] romainl commented on #34
The more I think about it the more I think you actually want automatic resizing to be optional.

[2017-02-07 23:04] bounceme commented on #36
an example of performance is ~10 seconds for 600 grep results filtered

[2017-02-11 01:00] comand commented on #34
It would be fantastic if I could set something that would disable autosizing altogether.

[2017-02-11 13:19] romainl commented on #34
This will be a lot easier to implement than trying to achieve consensus on an advanced behavior of autosizing :-)

This will be fixed during the week-end.

[2017-02-12 17:07] romainl opened #37 "Make auto-resizing optional"
This the follow-up to issue #34.

[2017-02-12 17:08] romainl commented on #34
Discussion moved to issue #37.

[2017-02-12 17:08] #34 closed

[2017-02-17 13:45] #36 closed

[2017-02-17 14:44] romainl opened #38 "Handle focus after close better"

[2017-02-17 14:46] romainl opened #39 "Locate optimizing opportunities."
https://www.reddit.com/r/vim/comments/5ulthc/how_would_i_detect_whether_quickfix_window_is_open/ddv2iq7/

[2017-02-18 12:06] LemonBoy opened #40 "Consider that qf#GetEntryPath might return an empty string"
`s:JumpFileChunk` should be aware of this and skip the line accordingly.

[2017-02-18 15:17] LemonBoy opened #41 "w:quickfix_title may be undefined"
If you fill your qf window and then filter all the items away then `FilterList` complains about `w:quickfix_title` being undefined, there's no such problem when there's at least one remaining item after the filtering.

[2017-02-19 09:51] romainl commented on #37
Branch "issue#37" is now merged into "master".

[2017-02-19 09:51] #37 closed

[2017-02-19 11:28] ntnn commented on #40
Mhm.

Two ways we could go about this:

1. Additional logic in `qf#GetEntryPath` to waltz up the entries until
   it found a path.
   That would work but then we'll need error handling in the calling
   functions, in case e.g. the first few lines have now paths.

2. Add additional logic in `qf#preview#PreviewFileUnderCursor` and
   `s:JumpFileChunk` to act accordingly.

Imho the first option would

[2017-02-19 12:03] ntnn commented on #40
Afterthought - the best thing would be a wrapper `qf#GetEntryPathRecursive`(o.s.) around `qf#GetEntryPath`, which does go until the first available and returns nil if none was found.

[2017-02-22 01:30] Asheq opened #42 "Configurable: "quit Vim if the last window is a location/quickfix window""
Could you make this behavior configurable by the user?

I'm thinking of an options/setting called `qf_autoquit_vim`

The default value of this setting could be true. I would personally set it to false for myself, so I don't accidentally quit vim when I'm being sloppy with my fat fingers :P Thanks

[2017-02-28 14:52] mdsn opened #43 "Error while processing function qf#wrap#wrapCommand when the swap file already exists"
If the quickfix list navigation makes vim open a file that already has a swap file, after selecting what to do (edit anyway, delete, etc) the following error comes up:

How to reproduce: go into an empty directory, write the same string to a few files. Open all of them in vim, then kill the instance from a separate shell. Open vim in the same directory and grep for the previous string. Navigate th

[2017-03-01 08:30] romainl commented on #43
Please try branch `issue#43`.

[2017-03-01 08:50] romainl commented on #42
The option is on `master`, it is called `g:qf_auto_quit`. Thank you.

[2017-03-01 08:50] #42 closed

[2017-03-01 21:17] mdsn commented on #43
@romainl that solves it. Thanks

[2017-03-02 08:35] romainl commented on #43
Good to hear. Branch `issue#43` is now merged into `master`. Thanks for using vim-qf.

[2017-03-02 08:35] #43 closed

[2017-03-10 20:43] marknsikora commented on #41
Can we get this merged? Applies cleanly to HEAD and seems to fix the issue.

[2017-03-11 07:45] romainl commented on #41
Fix merged in `master`.

[2017-03-11 07:45] #41 closed

[2017-03-14 20:11] jpfender opened #44 "Conflicts with neomake"
I don't know how much of this can be adressed on the vim-qf side, but there are some issues when vim-qf and neomake are used together.

If vim-qf is used out of the box without any configuration, the config option `let g:neomake_open_list` has no effect on the loclist opened by neomake regardless of what value it is set to. It appears that the behaviour of the loclist is overwritten by vim-qf.

If

[2017-03-14 20:29] romainl commented on #44
There's currently no attempt on either side to communicate with the other plugin. That would be a nightmare without a proper plugin API.

Anyway, I'll take a look at this issue ASAP.

[2017-03-18 20:30] romainl commented on #44
I've installed Neomake but now I'd like to see your settings for both Neomake and vim-qf in order to reproduce your context as faithfully as possible.

[2017-03-19 02:54] jpfender commented on #44
The following settings result in neomake opening the loclist on write, regardless of the fact that auto-opening the loclist is disabled in vim-qf. `auto_resize` also doesn't work, but `qf_loc_toggle_stay` does.

[code]

Conversely, if you try the following settings:

[code]

The loclist still gets opened on write, even though `neomake_open_list` is disabled. The loclist opened this way is fully co

[2017-03-19 16:44] romainl commented on #44
It looks like both plugins have overlapping features, which makes sense because both plugins are heavily quickfix-oriented. I can see three directions to take:

1. Let the user try to make the two plugins work together by finding the right options combo.
2. Remove/disable the features in vim-qf that overlap with those in Neomake.
3. Remove/disable the features in Neomake that overlap with those in

[2017-03-19 16:44] #44 closed

[2017-03-19 20:02] jpfender commented on #44
Yes, that's fair enough. I had already taken direction 1 by myself, I mainly wanted to make sure I wasn't missing an obvious solution to the problem. Thank you for looking into this!

[2017-03-31 14:32] guiniol opened #45 "`wincmd p` is not conflicts with some extensions"
When opening the quickfix window, `vim-qf` does a `wincmd p` to come back to the previous window. This conflicts with some extensions which already do a `wincmd p` after populating the quickfix window (`vimtex` in my case). My current solution is to disable `vim-qf`'s auto-open, but that means I lose useful functionalities such as auto-resize. I'm not sure if there's a good solution, but if there

[2017-04-02 17:31] lervag commented on #45
@guiniol In vimtex, you can control the behaviour with `g:vimtex_quickfix_mode` (see docs). Set it to 1 to avoid the `wincmd p` from vimtex.

[2017-04-02 18:01] guiniol commented on #45
@lervag Maybe I'm wrong in thinking it's a double `wincmd p` then, I tried setting `g:vimtex_quickfix_mode` to 1, and the quickfix window still gets the focus (actually, setting it to 0 or 2 doesn't change anything either). I did check the doc the other day and tried that, but I wasn't sure what the setting did exactly behind the scene. I'm sure it was working fine before the update on friday, but

[2017-04-02 18:07] lervag commented on #45
@guiniol I propose that you create a minimal example. If this is only a vimtex problem, please open an issue on the vimtex page. If the issue is related to a problem with combining vim-qf with vimtex, then we'll continue the discussion here.

If I understand your original description, the issue is only reproducible when you combine vim-qf with vimtex. But based on your last comment, it feels like

[2017-04-02 18:42] guiniol commented on #45
Sure. Here is a MWE:
`main.tex`
[code]
`vimrc`
[code]

With this example, when compiling, latex complains about the missing reference and opens the quickfix, which is immediately focused.

[2017-04-02 20:22] lervag commented on #45
I've reproduced with the following minimal vimrc file:

[code]

Opening with `vim --servername VIM -u minivimrc` and then doing `\ll` reproduces the issue. If I comment out `vim-qf`, everything works. I'll look into this to see if there might be a problem (or solution) on the vimtex end.

[2017-04-02 20:31] guiniol commented on #45
@lervag Thanks

[2017-04-03 17:37] lervag commented on #45
It seems vim-qf fires `qf#OpenQuickfix()` on `cgetfile`. If `g:qf_auto_resize` is 1, this function closes any open quickfix window, then reopens it with `cwindow`. This does not look very good to me, because it will clearly interfere with other plugins that act on these events.

@guiniol I think one possibility is to create your own variant of vim-qf. I did that, and it is really quite simple.  [T

[2017-04-03 19:19] guiniol commented on #45
@lervag Thanks for spending the time, and sorry for all the trouble!

I'll see if I can fix that or if @romainl has ideas.
Anyhow, I wasn't expecting you to change things specifically for `vim-qf`. I just wanted you to be aware of this issue in case there was a solution to know if the focus is on the quickfix and not do the `wincmd p` blindly.

[2017-04-03 19:37] lervag commented on #45
@guiniol No problem. Btw: In vimtex I do not simply do `wincmd p`. I save the original `winnr()` and use that. It is not entirely fool proof, but it works in all cases I've seen so far.

[2017-04-03 20:00] romainl commented on #45
Thanks, I will take a look a this issue next week-end.

Note that vim-qf is written from my point of view and well… I don't use many plugins. Without a proper plugin API, bad interactions are to be expected.

[2017-05-02 22:43] blueyed commented on #44
It seems like the annoying part with `g:qf_auto_open_loclist` is that it does not jump back to the previous window after all? (which vim-qf could add as a feature)
See https://github.com/neomake/neomake/issues/1097#issuecomment-298780826 for settings that work with Neomake.

[2017-05-19 07:24] romainl opened #50 "Change the default behavior of :Keep and :Reject"
Without argument, `:Reject` and `:Keep`should:

* use the filename of the current entry if the cursor is in column 1,
* use `<cword>` if not.

[2017-05-28 07:36] romainl commented on #50
I'm considering adding an option to restrict the filtering to the filename.

[2017-06-19 09:17] yevhen-m opened #52 "`Reject` with an argument does not filter qf results"
`Reject` with an argument does not filter results in location list. I have to move the cursor to the word and then `Reject` without arguments works as expected.
`osx`, `nvim 0.2.0`

[2017-06-19 09:53] romainl commented on #52
This is very likely to be a side-effect of https://github.com/romainl/vim-qf/issues/50

I'll investigate this ASAP but you should always use releases, not master.

[2017-06-19 10:02] yevhen-m commented on #52
@romainl  thanks a lot!

By the way, what do you mean by

?

[2017-06-19 11:13] romainl commented on #52
I mean [this](https://github.com/romainl/vim-qf/releases).

[2017-08-18 18:38] mgoral opened #53 "qf_qf_toggle slow after mapping changes"
Hi,

I noticed that after commit c2596df2be746ff3393d9d97e2ec986d4ea1a67c running `<Plug>qf_qf_toggle` got really slow. It seems that vim's waiting for "something" until `timeloutlen` passes (unless it's too small): it prints `_qf_toggle` in status line and waits a second before it executes toggle. If I lower timeoutlen, it gets a little quicker, but at some point timeoutlen passes faster than I'm

[2017-08-18 20:17] romainl commented on #53
OK, I'll check it out.

[2017-08-19 06:15] romainl commented on #53
So I confirmed both the issue *and* your workaround. Do you experience that on other mappings or is it only on `<Plug>qf_qf_toggle`?

[2017-08-19 06:44] mgoral commented on #53
Looks like the slowdown only occurs with `<Plug>qf_qf_toggle` (but not with `_stay` variant). However, I wasn't able to verify `<Plug>qf_switch`, because it didn't jump to quickfix at all (I never used this function before though, just checked it now). Other mappings work fine.

[2017-08-19 08:56] romainl commented on #53
This is *somewhat* unexpected: what we have is an ambiguity between `qf_qf_toggle` and `qf_qf_toggle_stay`. Vim really treats `<Plug>` mappings like regular mappings, after all, waiting for further input to decide which of the two commands to execute.

The solution will be to make the name unique: `qf_qf_stay_toggle` or something like that.

[2017-08-19 09:07] romainl commented on #53
The issue seems fixed. Thank you for your support, @mgoral.

[2017-08-19 09:07] #53 closed

[2017-08-20 08:53] romainl opened #54 "Add smart alternatives to `:cfirst` and `:clast`"
By default, `:cfirst` and `:clast` are dumb: they jump to the first and last line of the quickfix window where there mght not be a valid error.

We need smarter alternatives that jump to the first and last *actual* error.

[2017-08-22 08:42] vbauerster opened #55 "Wrong doc of qf_switch"
Doc says use `<Plug>qf_switch`, but in fact it is `<Plug>qf_qf_switch`.
I had to spend some time to figure out why my `<Plug>qf_switch` mapping does not work.

[2017-08-22 14:36] romainl commented on #55
Fixed. I'm sorry for the inconvenience.

[2017-08-22 14:36] #55 closed

[2017-08-23 06:25] vbauerster commented on #55
Thank you!

[2017-09-03 21:12] yevhen-m commented on #52
I've been using last release version for all this time. Has this issue been fixed?

[2017-09-04 06:00] romainl commented on #52
Nope, that issue will be fixed in the next release. Keep using the latest release until then.

[2017-09-22 12:54] yevhen-m commented on #52
@romainl when do you plan to make a new release? It's been almost a year since the last one.

[2017-09-22 20:12] romainl commented on #52
The latest release is fine. Anyway, thanks for reminding me about this issue, I'm on it.

[2017-09-23 10:05] romainl commented on #52
@yevhen-m, commit b14dcb2 seems to solve this issue. I'll put a release together once you have confirmed it.

[2017-09-23 13:47] yevhen-m commented on #52
Looks like it's working.

[2017-10-12 19:36] qstrahl opened #59 "qf_auto_open_quickfix causes post-cmd jump to occur in numerically last window"
## To Reproduce

1. Make sure `g:qf_auto_open_quickfix` is `1` or unset (this is the default)
2. Split the window a few times
3. Go to the first window (or any but the last)
4. Perform any quickfix command that finds matches

## Bad Behaviour

The first result will be jumped to in the last window on the tabpage in numerical order.

## Expected Behaviour

It should jump within the window you ran th

[2017-10-12 19:37] qstrahl commented on #59
The bug does not occur if you `let g:qf_auto_open_quickfix=0`, suggesting that it is somehow related to the function responsible for automatically opening the list. Presumably, location lists have the same bad behaviour, but I haven't tested this.

[2017-10-13 07:35] romainl commented on #59
Thanks, I will take a look at that through the week-end.

[2017-10-15 22:29] phcerdan commented on #45
I use `vimtex` and `vim-qf`, it would be extra nice to achieve compatibility if possible. Right now I have to disable `vim-qf` when doing some heavy latex.

[2017-10-16 16:42] guiniol commented on #45
@phcerdan setting `let g:qf_auto_open_quickfix = 0` lets vimtex handle opening the quickfix window but will still give you the other useful vim-qf features.
AFAICT, as there is no clear API for interacting with the quickfix window, every plugin has to do it its way and vim-qf and vimtex ways interact with each other when opening the quickfix window. However, there's no good way to "fix" either plu

[2017-10-16 18:50] lervag commented on #45
You can also `let g:vimtex_quickfix_mode = 0` if you want to let `vim-qf` open the quickfix window. Apart from that, I agree with @guiniol that it is difficult to ensure compatibility between plugins. However, there is always room for improvement, and I might have made some bad choices. If anyone should have good suggestions for improving how vimtex interacts with the quickfix window, I'm all ears

[2017-10-16 19:54] romainl commented on #45
Thank you all for your comments but… without a proper plugin API I will simply never even try to ensure compatibility with other plugins.

Every feature in vim-qf is currently behind a toggle and I think that should be enough to deal with most annoying corner cases.

[2017-10-16 19:54] #45 closed

[2017-10-16 20:13] phcerdan commented on #45
@romainl that makes sense. And thanks @guiniol @lervag, I will try those options.

[2017-10-16 21:09] guiniol commented on #45
@lervag I thought vimtex wouldn't even try to populate the quickfix with that option. I'll have to try it.

[2017-10-16 21:11] lervag commented on #45
@guiniol No, that option only controls whether or not to open the qf window. It is described in the docs. If set to zero, you have to open the quickfix window manually to see the errors/warnings.

[2017-10-17 08:35] guiniol commented on #45
@lervag indeed it does. I had actually tried it now, the problem is that when vim-qf opens the qf, it puts you in the qf window (this only happens with vimtex AFAICT), so it's a bit inconvenient with autocompile on ^^

[2017-10-17 08:46] lervag commented on #45
Ok. Then perhaps you could use `let g:qf_auto_open_quickfix = 0` instead?

[2017-10-17 11:54] guiniol commented on #45
Yes, that's what I do. The only thing is that we don't get the autoresize from qf, but with all the overflows/underflows, I rarely have less than 10 lines of errors anyway ^^

[2017-11-10 11:56] romainl opened #60 "Make the location list REALLY window-local"
With something like:

    autocmd qf WinNew * call setloclist(win_getid(winnr()), [])

Possibly behind an option.

[2017-11-12 01:25] lacygoill commented on #60
In case it helps, this is how I do it:

    augroup prevent_location_list_inheritance
        au!
        au QuickFixCmdPre  * let s:loclist_inheritance = 1
        au WinNew          * call s:empty_loclist()
        au QuickFixCmdPost * let s:loclist_inheritance = 0
    augroup END

    fu! s:empty_loclist() abort
        if get(s:, 'loclist_inheritance', 0)
            return
        endif

[2017-11-12 20:28] #52 closed

[2017-11-15 20:46] mdsn opened #61 "g:qf_max_height is ignored when g:qf_auto_open_quickfix is 0"
Set `g:qf_max_height = 3`, and `g:qf_auto_open_quickfix = 0`. Run a make command or something that populates the quickfix window. Open it up with the key mapped to `<Plug>QfCtoggle`, the quickfix window has height 10 (default). It should observe the max_height value.

Leave `g:qf_auto_open_quickfix` on its default value of 1, and the quickfix window will (automatically) be opened with the correct

[2017-11-20 21:09] romainl commented on #59
From `:help quickfix-window`:

    You can use ":.cc" to jump to the error under the cursor.
    Hitting the <Enter> key or double-clicking the mouse on a line has the same
    effect.  The file containing the error is opened in the window above the
    quickfix window.  […]

So this doesn't look like a bug after all. If you still want `<CR>` to open the error in the previous window I might be abl

[2017-11-20 21:21] qstrahl commented on #59
WHAAAT. I never would have guessed that was default behaviour... fuck me I guess. Personally, I wouldn't want to go so far as to make mappings that change the default behaviour, however unintuitive I find it... sorry for wasting your time :<

[2017-11-20 21:21] #59 closed

[2017-11-26 20:31] albertfgu opened #62 ":Doline in reverse order"
When there are multiple issues on the same line, and I want to apply a small change to all of them (e.g. delete a word or surround with a pair of brackets), Doline can fail because it remembers the exact location of the error which changes after dealing with previous errors on the same line.

I am not sure of the best way to deal with this, but one simple solution is to provide an option for Dolin

[2018-01-25 11:11] FabioAntunes opened #63 "Override nowrap"
It would be possible to extract the wrap into a variable so we can make it optional?

even though I have this on my config:
[code]

I prefer having quickfix windows per buffer, it makes it easier to understand where do I have linter errors. But without the linebreak they become a bit useless when I have multiple buffers open.

![screen shot 2018-01-25 at 11 09 54](https://user-images.githubusercon

[2018-01-28 10:16] romainl commented on #63
Please try [branch issue#63](https://github.com/romainl/vim-qf/tree/issue%2363).

[2018-01-29 13:35] FabioAntunes commented on #63
Been using that branch and so far it's been working fine, thanks for the quick response on this.

[2018-01-29 15:52] romainl commented on #63
Good to hear. I'll merge that branch into master but I don't think I will push a new release right away.

[2018-01-29 15:54] #63 closed

[2018-02-15 16:52] ajcrites opened #67 "Plugin prevents vertical opening of quickfix"
With this plugin enabled, if I run `:vert copen` it opens the quickfix window horizontally and it takes up the whole screen. Just using `copen` still opens it vertically, but normally.

I'm still able to make this window vertical using <kbd>Ctrl-W</kbd><kbd>L</kbd>.

[2018-02-15 20:30] romainl commented on #67
Did you notice [these two options](https://github.com/romainl/vim-qf/blob/master/doc/qf.txt#L233-L252).

[2018-02-19 16:34] ajcrites commented on #67
Those options help in some cases, but you still don't seem to have the ability to open vertical buffers if the options are disabled while still having horizontal quickfixes.

Interestingly with the `qf*_window_bottom` option on, the quickfix no longer closes automatically when I close the parent buffer. This could be a separate issue, though.

[2018-04-03 13:18] krishnakumarg1984 opened #69 "Vim-qf breaks vimtex"
This plugin overrides vimtex's quickfix handler for parsing latex compilation errors and warnings.

[2018-04-03 14:27] romainl commented on #69
Language-support plugins shouldn't do anything outside of their scope and generic plugins shouldn't have to do anything language-specific.

Two possibilities:

* disable vim-qf for TeX
* disable VimTeX's quickfix handling.

[2018-04-21 09:37] RobertBuhren commented on #61
Related to this:

The `let g:qf_auto_resize ` option does only work in the case the quickfix window was opened automatically.  When opening it using `<Plug>(qf_qf_toggle)` the quickfix windows height is set to the default again regardless of the number of items in the quickfix list.

[2018-04-27 14:00] balta2ar opened #71 "save and restore quickfix window state on toggle"
Hello. I have the following option in my vimrc:
[code]
However, when I use `qf_qf_toggle`, quickfix window state is not saved. Specifically, is it possible to:
1) save and restore quickfix window size?
2) save and restore cursor position within the quickfix window (line and column)?

Thank you.

[2018-04-28 14:31] balta2ar opened #72 "[feature] Allow Keep and Reject operate on ranges (Visual Selection)"
Hi. My use case is that I often filter out certain entries from quickfix window to reduce the scope. Even though Keep and Reject currently do the job, I believe it could be a bit more convenient to support exclusion (and inclusion) of results by visually selecting them (line selection) and calling Reject (or Keep) on the selected range. Could you please implement that?
Thank you!

[2018-04-29 15:09] romainl commented on #72
Please checkout the latest commit.

[2018-04-29 20:04] balta2ar commented on #72
Thanks! I've tried your changes and I'm afraid there are still some rough edges...

1. When visual selection spans multiple filenames OR when only one line across many with the same filename is selected, and Reject is called.

![vim-qf-reject-one-line-of-many-or-spans-different-files](https://user-images.githubusercontent.com/340676/39410484-8d166fba-4c01-11e8-96e0-098352b711cf.gif)

2. Basically

[2018-04-29 21:35] romainl commented on #72
Yeah, my initial assumption is that the user visually selects a word or parts of a word. Does it really make sense to visually select multiple lines?

[2018-04-29 21:46] balta2ar commented on #72
You mean that if you select a word, it's sent to Keep/Reject as an argument? Hmm, to be honest, never thought of that, but I think it's also reasonable and convenient.

As for multiple lines, sure, it makes sense. Before you explained your vision, only multiple line selection made sense to me when I created this request. It's just that I prefer to manually select lines that I want to keep/get rid

[2018-04-29 22:07] romainl commented on #72
OK, now that it's clear I can move forward.

[2018-05-16 07:21] promisedlandt opened #74 "Please make qf#filegroup#NextFile() / qf#filegroup#PreviousFile() mappings optional"
The `{` / `}` buffer local mappings are currently not optional, I would like them to be :)
There is already a comment `" TODO: allow customization` there, so I'm guessing you already have something planned, but I couldn't find an issue.

I tried to convert them to plugin mappings like so:

[code]

but couldn't get them to work after that - possibly because they're defined in `after`? I don't know

[2018-05-16 08:10] romainl commented on #74
I completely agree.

I've already thought about it but found that `<Plug>` mappings don't play well with filetype stuff. Thanks for reminding me about that flaw.

[2018-05-19 12:00] romainl commented on #74
@promisedlandt, @flemingfleming, could you try branch issue#74, please?

[2018-05-19 17:51] flemingfleming commented on #74
Works fine so far for me, but it does prevent the user mapping any other custom functionality to whichever keys they choose.

I also wonder about the performance impact of getting and filtering the list of every nmap everytime we call the mapping outside a quickfix window. Vim handles it fine for me, but there might be problems for people with more mappings/slow hardware.

[2018-05-19 19:19] romainl commented on #74
I wrote it in such a way that the shortcut chosen by the user is played back as-is when not in a quickfix window. Did you have a remapping problem?

I tested it in a slow Ubuntu VM without unexpected performance issue. I'll wait until someone complains.

I hate it when plugins show their guts or ask unreasonable coding from their users. In the absence of an actual mapping clash I think I will stic

[2018-05-19 19:34] romainl commented on #74
Or I could simply use the same method as with the Ack mappings: hide the feature behind a global variable. Something like:

    let qf_filegroup_maps = ['{', '}']

This would allow me to keep the mappings in `after/ftplugin/qf.vim` and thus:

* return them to their previous simplicity,
* avoid clashing with user-defined mappings.

I'd prefer exposing `<Plug>` mappings but this seems like an accept

[2018-05-19 19:49] promisedlandt commented on #74
Sorry to say it doesn't work for well for me.

I have `[[` and `]]` mapped to indent level movement (with [IndentWise](https://github.com/jeetsukumaran/vim-indentwise)), and I tried your new mappings with it:

`nmap ]] <Plug>(qf_next_file)` (`[[` analogous)

Expected result: in quickfix / loclist, `qf_(next|previous)_file`, in all other filetypes, indent level movement.
Actual result: quickfix / l

[2018-05-19 20:00] romainl commented on #74
@promisedlandt, @flemingfleming, can you try again? I didn't update the README and doc but it's easy to test; just add these two lines to your `virmc`:

    let g:qf_mapping_filegroup_previous = '{'
    let g:qf_mapping_filegroup_next = '}'

[2018-05-19 20:07] promisedlandt commented on #74
Thank you, that works perfectly for my use case!

[2018-05-19 20:34] flemingfleming commented on #74
The reason I advocated the lower level approach was that it allows less customisation than a plug mapping. For example, with a plug mapping there's the freedom to compose mappings like this, amongst other things.

    autocmd Vimrc Filetype qf
                \  nmap <buffer> ) <plug>(qf_fg_next_file)
                \| nmap <buffer> ( <plug>(qf_fg_previous_file)
                \| nmap <buffer> }

[2018-05-26 20:46] romainl opened #76 "LoadList only loads list in the quickfix list"
**ggVGc** hello romainl

**ggVGc** I've been waiting for you

**romainl** *panic*

**ggVGc** romainl: it seems to me vim-qf LoadList doesn't work like it should with loclist? Not sure if it's a bug or me misunderstanding. I can use SaveList in a loclist, and load it in quickfix, but if I load inside a loclist, it seems it loads into quickfix anyway?

**ggVGc** am I doing something wrong or is it a

[2018-06-29 13:01] lervag commented on #69
@romainl I agree, but this is a special case. In order to handle the hard-to-parse LaTeX log format I first parse it with an errorformat string. But to fix some paths, I use the `QuickFixCmdPost` autocommand. I think this is what is causing the problem here.

[2018-06-29 15:21] romainl commented on #69
@lervag It's very likely that https://github.com/romainl/vim-qf/pull/73 fixed the issue. Do you use `:help autocmd-nested` in vimtex?

[2018-06-30 09:50] lervag commented on #69
Interesting. No, I have not used nested autocmds. I'm aware of the feature, though, but I never realized that some of my autocommands could/should be nested.

Here is the relevant code that I think was conflicting:

[code]

I don't think the `QuickFixCmdPost` should need to be nested. Am I wrong?

[2018-06-30 09:52] lervag commented on #69
Addendum: the `fix_paths()` function does not do anything that I think should invoke any other autocmds. It only iterates the `getqflist()` to update some file paths.

[2018-06-30 11:31] krishnakumarg1984 commented on #69
@romainl  When ```vim-qf``` is enabled, it somehow suppresses the functionality of ```vimtex```. ```vimtex``` extensively uses the quickfix list for standard warnings & errors. I think (if that option is enabled) ```vimtex``` uses the output from another external program ```pplatex``` to populate the qf-list.  It relies on a client-server model to automatically open the qf-list upon completion.  N

[2018-06-30 18:29] lervag commented on #69
@krishnakumarg1984 It would help to see a minimal example for this issue. Can you make one?

[2018-06-30 18:31] lervag commented on #69
@romainl No, I use my own `ftplugin/qf.vim`. Based on the last comment by @krishnakumarg1984 I think my earlier comments are not so relevant. I think this must be something else. But it is hard to pinpoint without a good, minimal example.

[2018-11-10 00:48] Konfekt commented on #69
If I recall correctly, I had to remove `:caddfile` or `:caddbuffer`
from
[code]
to make the Quickfix Window reconcile with Vimtex.
Perhaps removing `:caddfile` or `:caddbuffer` from

https://github.com/romainl/vim-qf/blob/4026bbc36a37a89c9515da5875ebb5ff5b5c3091/plugin/qf.vim#L61

mitigates this issue?

[2018-11-17 21:14] bfrg opened #79 "When g:qf_auto_resize = 0 Vim won't move focus to quickfix window when already open"
When `g:qf_auto_resize = 0` Vim won't move the focus to the quickfix (or location list) window after running a quickfix command, while the quickfix window is already open. It does move the focus when `g:qf_auto_resize = 1` because in this case `cclose` (or `lclose`) are called before `cwindow` (or `lwindow`).

I think the fix is simple, just do the same thing as for `g:qf_auto_resize = 1` and call

[2019-01-07 03:20] jparise opened #83 "Consider adding :colder / :cnewer mappings"
In ["Colder quickfix lists"](https://vimways.org/2018/colder-quickfix-lists/), the author makes the case for convenience mappings around `:colder` / `:cnewer`. Those could make nice additions to vim-qf.

[2019-01-07 06:38] romainl commented on #83
I agree. This shouldn't be too hard but I'm very busy these days so I won't try my hands at it before next month.

If you feel like making a PR…

[2019-01-12 14:11] #83 closed

[2019-02-07 15:50] SevereOverfl0w opened #85 "Filter quickfix events (or integrate with dispatch)"
I opened [this issue](https://github.com/tpope/vim-dispatch/issues/256) at dispatch.vim which doesn't always populate the quickfix when it fires a QuickFixCmdPost.

The advice is to filter to only some events, or maybe filter out dispatch? Not sure. I just don't want to see an old quickfix buffer when I run certain commands.

[2019-02-07 17:36] romainl commented on #85
Vim-qf is generic by design. The idea is that `$PLUGIN_NAME`/`:command` only concerns itself with populating the quickfix/location list while vim-qf or some other similarly specialized plugin handles the quickfix/location list/window behavior. That design is incompatible with plugins that, IMO, overstep their boundaries like ALE or Syntastic. In this case, I feel like the Pope shouldn't use `:cget

[2019-02-19 10:26] romainl opened #86 "Split vim-qf into smaller plugins"

[2019-03-15 15:44] ABitMoreDepth opened #87 "How to map an autocmd to filter quickfix to the current buffer"
Is there a way to map the equivalent of `Keep bufname('%')` to execute every time the quickfix list is updated by my language client?

Apologies, I'm not very familiar with vimscript, but I'm guessing I'd need an `autocmd` bound to whatever the quickfix event would be, that runs the function behind `Keep` with an argument supplied by `bufname('%')` as if it were run from the currently open buffer,

[2019-04-04 14:44] reaysawa opened #88 "Saving/restoring quickfix lists to an external file"
For some reason I was surprised that SaveList/LoadList doesn't keep the lists between different sessions.

Given that list items are just dictionaries, they could be written/read from file in a defined user location. Vim-Bookmarks does this exactly for bookmarks and it's a joy to use!

https://github.com/MattesGroeger/vim-bookmarks/blob/master/autoload/bm.vim#L160

If this is to be introduced I th

[2019-04-04 15:02] romainl commented on #88
I think there's a TODO somewhere in the code about that. Would you like to work on it.

[2019-04-04 15:40] reaysawa commented on #88
@romainl I could, but some clarifications first for future reading

What is the format? Is it simply
[code]

And on that note, should it include a version field?

[2019-04-05 05:58] romainl commented on #88
Yes, that is the expected format.

There is currently no versioning; we expect the user to do `:SaveList my_list_v4`. Introducing versioning would open the door to considerably more complex developments and thus bloat.

[2019-04-22 09:22] romainl commented on #87
In my opinion, your language client should deal with other files in your project only when told to. If linting (or whatever) the current file gives you problems located in other files then there's a gross design issue in your language client (or server).

That said, the only event I could think of is `:help QuickFixCmdPost` which is at the core of this plugin. Using it on your end is very likely t

[2019-05-04 08:35] vzvezda opened #89 "Up/down in quickfix or location list whatever is opened"
Perhaps we can have a shortcut that navigates up or down in quickfix list when its open and otherwise up/down in location list?

Some plugins deliver messages to location list (e.g. syntastic), others deliver to quickfix. If the use case is that only one window is opened, it would be nice to have the same shortcut.

[2019-05-04 08:44] vzvezda commented on #89
I have created PR #90 with possible implementation

[2019-05-06 22:48] ABitMoreDepth commented on #87
I'd happen to agree with you re this being a linter issue, though the maintainer of the language client that I'm using disagrees (for whatever reason).

I'm getting by ok with this plugin's existing functionality, so whilst hooks would be great, and I'd be happy to test for you, by all means feel free to work on any higher priority bits as you see fit.

Thanks for getting back to me. :)

[2019-10-04 17:40] infokiller commented on #28
@blueyed this may be useful for you: https://github.com/infokiller/vim-errorlist

[2019-10-04 17:44] blueyed commented on #28
@infokiller
Thanks.  There are commands in Vim for this by now (`:cbefore` etc), and a WIP PR to merge them to Neovim: https://github.com/neovim/neovim/pull/11119

[2019-10-04 18:50] infokiller commented on #28
@blueyed oh no, I could have avoided writing that plugin!
Thanks for letting me know!

[2019-10-04 18:59] infokiller commented on #28
@blueyed reading the docs and playing with the new commands in my vim installation (8.1 1-2102), it seems that a plugin is still needed for the following:
- Supporting wrap around
- Jumping to the next buffer when in the last error of the current buffer
- Supporting lists of errors that are not sorted by their buffer number
- Navigating multiple errors in the same line

Reference docs for `:cabove

[2019-10-04 19:30] romainl commented on #28
Looks like no work is necessary on this one after all.

[2019-10-04 19:30] #28 closed

[2020-04-07 15:31] goberhammer opened #97 "Error detected while processing function qf#OpenQuickfix[9]..qf#ShortenPathsInList"
When launching vim this error is displayed:
[code]

Configuration:
Ubuntu 16.04.1 LTS
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Nov 24 2016 16:44:48)
Included patches: 1-1689
Extra patches: 8.0.0056

[2020-04-07 18:51] romainl commented on #97
Your version of Vim doesn't support lambdas. Please use the official release instead of master.

[2020-04-14 15:49] #97 closed

[2020-06-01 19:51] nomasprime commented on #67
@romainl is there a way to open the quickfix automatically in a vertical split?

[2020-06-01 20:48] romainl commented on #67
@nomasprime I think adding something like:

    wincmd L

to `after/ftplugin/qf.vim` should do the trick.

[2020-06-02 15:27] nomasprime commented on #67
@romainl thanks. Thinking about it I'd like to try having the location and quickfix lists stacked in the same vertical split to maximise screen space. Any ideas?

[2020-06-02 16:09] romainl commented on #67
@nomasprime, it's probably doable, via an autocommand that:

1. fires on the `qf` filetype,
2. figures out what quickfix and/or location window are opened,
3. creates the desired layout.

But it doesn't seem trivial.

[2020-06-02 20:00] nomasprime commented on #67
@romainl cool, thanks for the pointers. I'll come back to it when I have some spare time.

[2020-08-24 11:20] george-b opened #100 "Alternative file group method"
I don't actually use this plugin but have adapted several ideas from it into my personal config. One of the things I've done differently is the motion between file groups. The key difference is that instead of extracting the what looks like the current path from the actual line contents in the window I use the buffer numbers returned from `getqflist()`. As a matter of taste I like to avoid regex w

[2020-08-24 11:30] george-b opened #101 "Treat qf_isLoc as bool?"
There are a number of conditionals checking if `qf_isLoc` is the number 1 rather than relying on the implication that a non-zero number is considered true and 0 is false. Such comparisons even appear in compound conditions that and/or the results of `get()` where the implied relation is used rather than explicit comparison. Is this intended? If not would you welcome a PR changing this?

[2020-08-24 18:55] george-b opened #102 "Use of after/ftplugin/"
I'm wondering why `after/ftplugin/` is used rather than just `ftplugin/`? I would have thought plugins in generally would only use `after/ftplugin/` in order to be able to compose/override other plugins in a way that is complementary albeit somewhat naive.

[2020-08-24 21:11] romainl commented on #102
`after/ftplugin/$FILETYPE.vim` is sourced last so it is the ideal place for adding things without having to rewrite the whole `$VIMRUNTIME/ftplugin/$FILETYPE.vim` or for partially overriding things defined in that file.

[2020-08-24 21:32] george-b commented on #102
But there's nothing contentious with the runtime in this plugin is there?

[2020-08-25 08:07] romainl commented on #102
Sorry but I don't understand your question.

[2020-08-25 10:13] romainl commented on #102
It's just the default ftplugin, which I have no need or desire to rewrite. If something is added to it in the future, I don't want my plugin to break it unknowingly.

The "after" mechanism has nothing to do with plugin composition. Its only purpose is to allow the user to augment and/or override default settings.

[2020-08-25 10:41] george-b commented on #102
OK I'm going to go a bit off track if you'll entertain me. Why is the default runtime sourced after plugins? I agree it would seem logical that plugins should get sourced after the default runtime. My assumption would be that things in the default runtime typically have guards around them and thus can be prevented from loading which is useful as Vim doesn't have a way to truly unload things. If th

[2020-08-25 11:06] romainl commented on #102
That's what you get when you just add stuff to stuff without giving much thought to the overall design.

That's also why I am—discreetly, admittedly—advocating for a proper plugin API that would give plugin developers composition, etc. and users more confidence in their config.

Consider plugin `pastrami` exposing all its feature under a `pastrami` namespace, with mappings having clear attributes

[2020-08-25 11:26] george-b commented on #102
Oh yeah I fully agree with that, as I mentioned in my initial comment I think the after directory is "naive".

[2020-09-29 19:19] jandamm opened #107 "qf_mapping_ack_style does not respect qf_window_bottom"
Both `p` and `s` would place the new window below the Quickfix window.

These mappings did work for me:
[code]
(Basically just adding `<C-w>J`)

[2020-09-30 06:11] romainl commented on #107
I guess we can make it check `g:qf_window_bottom` before doing `<C-w>J`.

[2020-09-30 06:52] jandamm commented on #107
Definitely.
Should I create a PR?

[2020-09-30 06:59] romainl commented on #107
@jandamm Please do.

[2020-10-11 09:02] jandamm commented on #107
I've created a PR for this.
Turned out it was only related to `splitbelow`.

[2020-10-18 08:06] #107 closed

[2020-10-30 23:45] perelo opened #110 "Fix E776 on lhelpgrep when g:qf_auto_open_loclist=1"
Not properly a vim-qf's issue, but when executing `:lhelpgrep {pat}` with the current `autocmd`s when `g:qf_auto_open_loclist=1` vim will issue

    Error detected while processing QuickFixCmdPost Autocommands for "l*"..function qf#OpenLoclist:
    line   12:
    E776: No location list

Even though there's some results and a following `lwindow` opens correctly the location list. See [this question

[2020-10-31 08:19] romainl commented on #110
Thank you for bringing this up.

FWIW, there is a related issue with `:helpgrep`, where vim-qf opens the qf window at the bottom of the screen before Vim splits the window to show the help, meaning that the alternate buffer is the quickfix buffer, the previous window is the quickfix window, and the quickfix window is not at its desired location at the bottom of the screen. Bad.

I agree that the p

[2020-10-31 16:45] perelo commented on #110
Thank you for taking it into account.

You're right, I didn't notice. What I see is the main trouble is to detect whether `:l?helpgrep` returned some results or not. If we could catch this info in `QuickFixCmdPost`, we could do something.

For example, with `:helpgrep` we can compare the number of quickfix lists between `QuickFixCmdPre` and `QuickFixCmdPost` with `getqflist({'nr':'$'})`. But it do

[2020-10-31 19:13] perelo opened #111 "Use [pedit +entry.lnum #entry.bufnr] in qf#preview#PreviewFileUnderCursor()"
Hi again,

Preview on `:helpgrep` entries don't work for me. The `qf#GetEntryPath(cur_line)` doesn't find the help file since only the tail of its name is given.

`:pedit` allows us to use `#{bufnr}` to preview an existing buffer. We can get this buffer by querying the entry dictionnary of the current line in `cur_list`.

[code]

More generally, is there a reason why almost all queries on the entr

[2020-10-31 19:51] romainl commented on #111
Hi again, could you open a PR?

Most of that code predates `{what}`. In fact vim-qf as a whole is pretty dated, which is a good and a bad thing: it works in older Vims but it is also a bit of a mess that would benefit a lot from newer features. As mentioned in a couple of other discussions, I am considering reviewing the whole thing. The current guards assume 7.3 compatibility but I very much doub

[2020-10-31 20:01] romainl commented on #110
From what I understand, Vim seems to do the equivalent of `:vimgrep foo <list of all tags files>` and then `:cfirst`. I am just not sure what to do with that.

The quickfix list may have the same number of entries before and after anyway.

I intuitively don't like that timer-based hack because of the magic `10` and all, but it has the distinct advantage of working.

[2020-10-31 21:11] perelo commented on #111
I'm glad to hear that :+1:

[2020-12-07 10:37] #100 closed

[2020-12-07 10:37] #101 closed

[2020-12-07 10:37] #102 closed

[2021-01-05 22:36] paddor opened #114 "QF window steals focus"
Not sure if this is a feature or a bug, but whenever I run the specs of my current file (using vim-dispatch), my cursor jumps to the QF window.

How to disable this behavior?

[2021-01-06 09:51] romainl commented on #114
Lots of plugins related to code execution/compilation handle the quickfix window themselves in one way or another so I consider vim-qf to be generally [incompatible](https://github.com/romainl/vim-qf#anti-features) with that class of plugins, including vim-dispatch.

That said, vim-dispatch's own documentation says that it does some variant of `:cwindow` or `:copen` at the end of the compilation,

[2021-01-06 10:26] paddor commented on #114
Without vim-qf, neither `:Make` nor `:cwindow` steal my focus.

[2021-01-06 11:00] romainl commented on #114
Hmm… `:cwindow` literally opens the quickfix window if there are valid entries in the quickfix list, which pretty much _implies_ moving the cursor to the newly opened window. `:copen` does the same whether there are valid entries or not. It is exactly like doing `:vs foobar` or `:sp barbaz`: the new window gets the focus.

Here, we do:

    $ cd ~/.vim
    $ vim -Nu NONE -q <(ag augroup) +set\ las

[2021-01-06 14:26] paddor commented on #114
Since I can't use this plugin for now, how can I manually hide the QF window from the buffer list?

[2021-01-06 14:34] paddor commented on #114
Got it. `set nobuflisted`

[2021-01-22 15:03] lacygoill commented on #76
This patch should fix the issue:
[code]

[2021-01-22 16:52] romainl commented on #76
@lacygoill would you consider making a PR?

[2021-03-17 04:57] reportaman opened #116 "Modularize: Is it possible to just use named list feature?"
I was looking for a way to name quickfix/location lists and refer them in future & came across your implantation. Given your note on front page, and the fact that I use ALE (https://github.com/dense-analysis/ale), I wonder if it is easy to just enable/use the named list feature with ALE?

[2021-03-17 08:07] romainl commented on #116
You can disable a lot of features with the options under `:help qf-configuration` but there is currently no way to *only* use named lists without bringing some possibly unwanted baggage.

FWIW, breaking up this monolith into individual plugins, has been kind of a long term goal but I have no idea when I will be able to tackle that project.

- `vim-qf` itself would come back to its roots as a "qual

[2021-03-27 12:06] timsofteng opened #117 "Delete single item from quickfix list"
Hello. Can this plugin help me to delete single item from quickfix list?

[2021-03-27 15:47] romainl commented on #117
Not at the moment. I have had some discussion about this with other users in the past but it sadly went nowhere.

The ability to do something like `:.Reject` to reject the current line or `:11,15Reject` to reject lines 10 to 15 (actually entries 9 to 14) would probably be useful.

[2021-03-27 15:50] timsofteng commented on #117
@romainl Yep. It will be pretty nice if user can delete current item from itself or any other item from quickfix list buffer.
I don't understand why it's not built-in functionality.

[2021-03-27 15:56] romainl commented on #117
Vim now has `:help :Cfilter`, which is roughly equivalent to vim-qf's now deprecated `:Filter` and works pretty much the same way. Maybe it actually is worth it to open a feature request for range support over at vim/vim?

[2021-03-27 16:00] timsofteng commented on #117
Maybe it makes sense.
Could you open it in vim repo? I'm sure you could describe problem better than me as a developer.

[2021-03-28 10:39] romainl commented on #117
I just pushed range support for `:Keep` and `:Reject`.

You can now do `:.Reject` to remove the currently selected entry or `:10,15Reject` to remove entries 10-15. Same for `:Keep`.

Happy to get any feedback.

[2021-03-28 10:40] romainl commented on #72
It has been a while and I apologise for the delay.

I just pushed range support for `:Keep` and `:Reject`.

You can now do `:.Reject` to remove the currently selected entry or `:10,15Reject` to remove entries 10-15. Same for `:Keep`.

Happy to get any feedback.

[2021-03-28 14:17] romainl commented on #85
I will close this issue because I don't plan to do anything about it.

[2021-03-28 14:17] #85 closed

[2021-03-28 14:20] romainl commented on #74
Done.

[2021-03-28 14:20] #74 closed

[2021-03-28 14:22] romainl commented on #110
I'll close this for now as most of it is done. If anyone finds a solution for `:lhelpgrep`, feel free to open a PR.

[2021-03-28 14:22] #110 closed

[2021-03-28 14:24] #76 closed

[2021-03-28 14:27] romainl commented on #69
Closing this as there is no resolution in sight. I stand by my position: filetype-specific plugins have no business handling the quickfix window.

[2021-03-28 14:27] #69 closed

[2021-03-28 14:27] #67 closed

[2021-03-28 14:28] #50 closed

[2021-03-28 14:46] #61 closed

[2021-03-28 14:47] #87 closed

[2021-03-28 14:49] romainl commented on #71
This seems to work correctly now.

[2021-03-28 14:49] #71 closed

[2021-03-28 14:50] romainl commented on #79
Fixed.

[2021-03-28 14:50] #79 closed

[2021-03-28 16:28] promisedlandt commented on #74
Looks great, thanks!

[2021-04-09 21:11] lervag commented on #69
I'm curious, @romainl: In the current version of VimTeX, I no longer rely on autocommands. I use the `caddfile` command with a properly defined `errorformat`, then I use `getqflist` and `setqflist` to make some adjustments to make the file paths of the quickfix entries better. (LaTeX log files are hard to parse with `errorformat`, and I currently don't know a perfect solution - what I do is sort o

[2021-04-09 21:16] lervag commented on #69
By the way, from some simple tests it seems the `caddfile` after loading `vim-qf` forces a change of buffer. The default behaviour of `caddfile` is simply to add errors from a file to the list, it does not open the quickfix list or anything like that.

[2021-04-09 22:55] romainl commented on #69
@lervag I must admit I have never written a single line of LaTex in my life and I have no practical knowledge of your plugin so I have no idea if your plugin and mine still clash.

The situation I'm in is that vim-qf relies on the `QuickFixCmdPost` event a lot. Opening the qf/loc window after any command that changed the qf/loc list is, after all, its core feature. When another plugin executes a c

[2021-04-10 13:38] lervag commented on #69
VimTeX does not use the `QuickFixCmdPost` event. It uses the following commands: `:cclose` and (optionally) `:cwindow`. Further, VimTeX uses `caddfile` and `errorformat` to parse log files for quickfix entries. Also, `qetqflist()` and `setqflist()` are used sometimes to manipulate the entries of the quickfix list (e.g. filter out uninteresting warnings or fix path related issues as mentioned).

I

[2021-04-10 15:20] romainl commented on #69
My opinion is that your plugin shouldn't use either `:cwindow` or `:cclose` or make any attempt whatsoever to manipulate the qf/loc window.

Here are a couple of reasons why keeping `:caddfile` in the list makes sense:

1. `:caddfile` behaves like `:cfile` when there is no existing list,
2. `:caddfile` potentially changes the length of the list, which in turn triggers vim-qf's auto-resizing featur

[2021-04-10 18:12] lervag commented on #69
Thanks, I appreciate your opinion, and I think I finally understand what you are saying and even agree with your sentiment. However, as a pragmatic, I will probably not change this within VimTeX just now as I think the current behaviour is appreciated and expected by a lot of users.

TIL and all that; thanks again. I agree, it seems `:caddexpr` will allow an even better implementation of the error

[2021-04-10 19:13] romainl commented on #69
If you take a look at this second gif, which starts where the first one ends, you will notice that a series of `:caddexpr` (but that would also be true for a series of `:caddfile`) works perfectly fine with vim-qf. The behaviour is exactly the one you would expect if you had both vim-qf and a well-behaved LaTeX plugin: said plugin populates the qf list and then vim-qf automatically works its magic

[2021-04-10 19:45] lervag commented on #69
Well, after more thought I am starting to realize the problem here: I've falsely assumed that `:caddfile` can be used under the assumption that it will never open and jump to the quickfix window. This assumption holds true for the default behaviour, but as you say, the purpose of vim-qf is to open and modify the behaviour of the quickfix window under various conditions; `:caddfile` is just exactly

[2021-04-12 08:52] krishnakumarg1984 commented on #69
Err.. Sorry for asking. The technical details of this thread were not easy to understand for me.

Can either of you @romainl or @lervag please provide a quick summary of what the users must do to have both these plugins work smoothly?

[2021-04-12 08:57] lervag commented on #69
Nothing; I've updated VimTeX now so I think it should no longer misbehave.

[2021-04-12 08:58] krishnakumarg1984 commented on #69
Cool. So, there is no need to set `let g:qf_auto_open_quickfix = 0`?

[2021-04-12 09:05] lervag commented on #69
Nope, I don't think so. Let me know if you find any more issues.

[2021-06-05 11:12] zealotrush opened #119 "Remove doc/tags file from the repo"
Could you please remove the doc/tags file from the repository? After I run the `:helptags ALL` command in Vim, this repo got dirty due to the updated tags file.

[2021-06-05 14:23] romainl commented on #119
Since 8.1 and the introduction of `:help package`, it is recommended that plugin developers distribute documentation tags with the rest:

    Run the `:helptags` command to generate the doc/tags file.  Including this
    generated file in the package means that the user can drop the package in the
    pack directory and the help command works right away.

[2021-06-08 04:00] zealotrush commented on #119
Thanks about the information about `:help package`. I didn't know that. However, could please make sure that the tags file is up to date? I cloned the latest repo, then run `:helptags ALL`, I got this diff result:

[code]

[2021-06-08 06:24] romainl commented on #119
Thank you for reporting this. The `tags` file is now up-to-date.

[2021-06-08 06:24] #119 closed

[2021-06-25 09:19] azter222 opened #120 "Keep the cursor position after filter out some unwanted lines"
I am lucky to be able to find this nice plugin.
Especially, the function for filter out unwanted line, like
 - `:K <wanted string>`
 - `:Rej <unwanted string>`
 -  `:'<,'>Rej` <- filter selected lines
I usually filter and repeatedly use the above 3 method to remove the noise.
And, each filter operation will obtain a qf-window as subset of previous one.
Intuitively, noise should be emitted from the

[2021-08-24 13:04] savchenko opened #122 "Allow configuring highlight groups"
There are `qfFileName` and `qfLineNr`, but I seemingly can't set the highlight of the current line without overwriting both:

![image](https://user-images.githubusercontent.com/300146/130616378-da1a9719-ffe6-4cfe-84a4-bdc8ec678720.png)

Being able to define something like `qfCurLine` in user's theme file would be great.

[2021-08-24 13:55] romainl commented on #122
Hmm… I have no idea what that screenshot is supposed to demonstrate. It looks perfectly fine to me. Could you be more specific about what you are trying to achieve and the problems you are facing?

[2021-08-24 14:16] savchenko commented on #122
I don't see a way to change the highlight of the selected line with the available highlight groups.
I propose to introduce a new highlight group so that user can adjust it on their end.

_(...after a bit of research...)_

Shall try https://stackoverflow.com/questions/60589935/vim-change-highlight-of-current-quickfix-line-quickfixline, will reply here.

[2021-08-24 14:29] romainl commented on #122
The line on which the cursor is is highlighted with `CursorLine` and the line of the current error is highlighted with `Search`. I'm not sure what more you need.

Good luck anyway.

[2021-08-24 15:17] savchenko commented on #122
Turns out `QuickFixLine` does the job and by skipping `fg/bg` it is possible to overload its attribute, for example with bold or italic.

Sorry about the noise.

[2021-08-24 15:17] #122 closed

[2021-11-21 08:07] anoop1005 opened #123 "qf_qf_toggle not working in windows under neovim"
Tried the below mapping. But quick fix window is not toggling after doing a vimgrep

     map <leader>q <Plug>(qf_qf_toggle)

In the `function! qf#toggle#ToggleQfWindow(stay) abort`, `qf#IsQfWindowOpen()` is not returning `true` instead the below statement is getting executed:

    else
        execute get(g:, 'qf_auto_resize', 1) ? min([ max_height, len(getqflist()) ]) . 'cwindow' : max_height .

[2021-11-21 08:44] romainl commented on #123
Hi, I took the liberty to reformat your post to make it more legible.

Anyway, this plugin is strictly a Vim plugin that comes with no guarantee whatsoever of working in other editors. Since I don't use Neovim I don't plan to provide support for that editor.

If you also encounter that problem in Vim, please provide the following information:
- Vim version: the full output of `:version`,
- vim-qf

[2021-11-21 12:41] anoop1005 commented on #123
This issue can be closed. I installed the plugin to vim on windows & the feature is working.

Again tried with neovim, the feature is working fine with neovim as well.

[2021-11-21 13:24] #123 closed

[2021-11-21 13:36] anoop1005 opened #124 "qf_qf_toggle not working in windows after searching the contents of a particular text file"
[5.txt](https://github.com/romainl/vim-qf/files/7576347/5.txt)

I have the below mapping in vimrc
nmap <F5> <Plug>(qf_qf_toggle)

Try to populate the quick fix list by using the below vimgrep command
:vim /Version/ 5.txt

The toggle function is not working after the quick fix is populated with the result.
Seems the plugin has issues with the text present in the file 5.txt

[2021-11-21 13:57] romainl commented on #124
This is the second time I have to correct your formatting and ask what version of the plugin you are using as well as your version of Vim. This is already getting tiring.

[2021-11-21 15:22] anoop1005 commented on #124
Below are the details
vim version 8.2.3635
qf-version:	0.2.0

Seems the vim-qf has a conflict with another plugin 'gburca/vim-logcat' which is creating the issue.
Disabling the other plugin seems to resolve the issue.

[2022-01-29 19:44] cpakkala opened #125 "Prefix commands?"
Was just thinking it might be nice to prefix all the commands with "QF" in order to both preserve namespace and to allow one to simply type the prefix and use completion to avoid having to memorize the commands.

Thanks for all the work, BTW; excellent plugin.

update:  sorry, just realized the commands are buffer-specific; so the namespace argument doesn't really matter.  Maybe just some aliases

[2022-03-09 17:54] ucarbehlul opened #126 "closing file buffer makes vim exit if quick fix window is open"
When viewing a buffer with quick fix window open and has an entry in it, if I close the buffer with `:bunload` vim quits. I am expecting vim to not quit and go to the next buffer instead.

[2022-03-09 18:12] romainl commented on #126
I don't think any of those line is related to vim-qf but your expectations are perfectly reasonable. The plugin indeed has a mechanism for quitting Vim if the last window is a quickfix window but it is probably a bit dumb.

I will take a look at it when I get a chance.

Thanks.

[2022-08-05 09:17] SevereOverfl0w opened #127 "SaveListAdd a range"
I'm building a list of "suspect" areas of the codebase.  It would be handy to do `:.SaveListAdd suspicious` to then load up at a later date.

Right now I'd have to do something like `:.Keep | :SaveListAdd suspicious | :Restore` (but maybe separately)

[2022-08-05 11:03] romainl commented on #127
If I understand correctly you would want to add the current list item to a named list, right?

[2022-08-05 12:16] SevereOverfl0w commented on #127
That's the feature I'd want, yep!